---
import Layout from '../layouts/Layout.astro';

// --- COMPONENTES HOME MODULARES ---
import HeroSlider from '../components/home/HeroSlider.astro';
import StatsBar from '../components/home/StatsBar.astro';
import MissionSection from '../components/home/MissionSection.astro';
import BajaSection from '../components/home/BajaSection.astro';
import RecruitmentCTA from '../components/home/RecruitmentCTA.astro';
import SponsorsMarquee from '../components/home/SponsorsMarquee.astro';
import TeamPreview from '../components/home/TeamPreview.astro';
import ReactionGame from '../components/home/ReactionGame.astro';

// Estilos globales de la Home
import '../styles/home/indexCuerpo.css';

const pageTitle = "Inicio";
---

<Layout title={pageTitle}>
    <main>
        <HeroSlider />
        <StatsBar />
        <MissionSection />
        <BajaSection />
        <RecruitmentCTA />
        <SponsorsMarquee />
        <TeamPreview />
        <ReactionGame />
    </main>

    {/* --- SCRIPTS --- */}
    
    {/* Críticos */}
    <script is:inline defer src="/js/portada.js"></script>
    <script is:inline defer src="/js/scroll.js"></script>

    {/* Lazy Loading (Background) */}
    <script is:inline defer src="/js/contadores.js"></script>
    <script is:inline defer src="/js/miniJuego.js"></script>
    
</Layout>