---
import { Image } from 'astro:assets';
import imgHero from '../../assets/Portadas/1.webp'; 
import '../../styles/layout/hero-internal.css';
---

<header class="hero-internal">
    <Image 
        src={imgHero} 
        alt="Equipo Jaguar Racing"
        class="hero-internal__bg" 
        widths={[360, 540, 768, 1080, 1920]} 
        sizes={`(max-width: 768px) 100vw, 100vw`}
        quality={60}
        loading="eager"
        fetchpriority="high"
        decoding="sync"
    />
    <div class="hero-internal__overlay"></div>
    <div class="hero-internal__content">
        <h1 class="hero-internal__title">CONOCE AL EQUIPO</h1>
    </div>
</header>