---
import Layout from '../layouts/Layout.astro';

// --- COMPONENTES HISTORY MODULARES ---
import HeroHistory from '../components/history/HeroHistory.astro';
import Timeline from '../components/history/Timeline.astro';

const pageTitle = "Nuestra Trayectoria";
---

<Layout title={pageTitle}>
    <main>
        <HeroHistory />
        
        <Timeline />
    </main>
</Layout>