---
import Layout from '../layouts/Layout.astro';

// --- COMPONENTES CONVOCATORIA ---
import HeroConvocatoria from '../components/join/HeroConvocatoria.astro';
import AreasCarousel from '../components/join/AreasCarousel.astro';
import RegistrationCTA from '../components/join/RegistrationCTA.astro';

const pageTitle = "Convocatoria";
---

<Layout title={pageTitle}>
    <main>
        <HeroConvocatoria />
        
        <AreasCarousel />
        
        <RegistrationCTA />
    </main>
</Layout>