---
import Layout from '../layouts/Layout.astro';
import '../styles/sponsors/page-sponsors.css';

// --- COMPONENTES SPONSORS MODULARES ---
import HeroSponsors from '../components/sponsors/HeroSponsors.astro';
import SponsorsIntro from '../components/sponsors/SponsorsIntro.astro';
import SponsorsGrid from '../components/sponsors/SponsorsGrid.astro';

const pageTitle = "Patrocinios";
---

<Layout title={pageTitle}>
    <main>
        <HeroSponsors />
        
        <SponsorsIntro />
        
        <SponsorsGrid />
    </main>
</Layout>