---
import Layout from '../layouts/Layout.astro';
import '../styles/team/page-team.css';

// --- COMPONENTES TEAM MODULARES ---
import HeroTeam from '../components/team/HeroTeam.astro';
import OriginsSection from '../components/team/OriginsSection.astro';
import TeamMarquee from '../components/team/TeamMarquee.astro';
import RosterGrid from '../components/team/RosterGrid.astro';

const pageTitle = "Conoce al equipo";
---

<Layout title={pageTitle}>
    <main>
        <HeroTeam />
        
        <OriginsSection />
        
        <TeamMarquee />
        
        <RosterGrid />
    </main>
</Layout>