---
import '../../styles/home/apoyanosbtn.css';
---

<section class="join-cta scroll-animate">
    <div class="cta-media-wrapper">
        <img 
            src="/img/page/Registro.webp" 
            alt="Fondo Reclutamiento" 
            class="cta-video-bg" 
            loading="lazy"
            decoding="async"
            width="1252" height="1216"
        />
        <div class="cta-overlay"></div>
    </div>
    <div class="join-cta__text">
        <h2>ÚNETE A LA ESCUDERÍA</h2>
        <p class="join-cta__subtitle">
            Cada temporada es una oportunidad de reiniciar y mejorar. El diseño del coche 25/26 ya está en proceso. 
            Es tu oportunidad de sumarte y hacer realidad el nuevo prototipo.
        </p>
        <a href="/join" class="btn-underline">APLICAR AHORA</a>
    </div>
</section>