<footer class="site-footer">
    <div class="site-footer__content">

        <div class="site-footer__section">
            <div>
                <img src="/img/page/JaguarLogo.webp" alt="Jaguar Racing Logo" class="site-footer__logo" width="150" height="150" loading="lazy">
            </div>
            <p class="site-footer__desc">Escudería oficial de la ESIME Azcapotzalco.</p>
        </div>

        <div class="site-footer__section site-footer__contact">
            <div>
                <p>Av. de las Granjas 682, Azcapotzalco, CDMX.</p>
            </div>

            <div class="social-icons">
                <a href="https://www.instagram.com/jaguar_racing_team/" target="_blank" rel="noopener noreferrer"
                    class="social-icons__link">
                    <img src="/img/page/ImgIG.webp" alt="Instagram" width="30" height="30" class="social-icons__img">
                </a>

                <a href="https://www.linkedIn.com" target="_blank" rel="noopener noreferrer"
                    class="social-icons__link">
                    <img src="/img/page/linkedIn_.webp" alt="Instagram" width="30" height="30" class="social-icons__img">
                </a>
                <a href="https://www.facebook.com/people/Jaguar-Racing-IPN/" target="_blank" rel="noopener noreferrer"
                    class="social-icons__link">
                    <img src="/img/page/ImgFaceeBook.webp" alt="Facebook" width="30" height="30"
                        class="social-icons__img">
                </a>
            </div>
        </div>
    </div>

    <div class="site-footer__bottom">
        <p>
            Jaguar Racing Team. Hecho con orgullo politécnico.
        </p>
    </div>

    <script type="module">
        import { inject } from 'https://esm.sh/@vercel/analytics';
        import { injectSpeedInsights } from 'https://esm.sh/@vercel/speed-insights';

        // Activa el conteo de visitas
        inject({ mode: 'production' });
        
        // Activa el monitoreo de velocidad real
        injectSpeedInsights();
    </script>
</footer>