img{
     -webkit-tap-highlight-color: transparent;
    /* Evita el menú desplegable (Guardar como...) en iOS/Android */
    -webkit-touch-callout: none;
    
    /* Evita que la imagen sea seleccionable */
    -webkit-user-select: none;
    user-select: none;
    
    /* Evita que la imagen se pueda arrastrar (Ghost image) */
    -webkit-user-drag: none;
}

/* Utilidad para accesibilidad (Screen Reader Only) */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}