---

---

<section class="sponsors-intro-section scroll-animate">
    <div class="sponsors-intro-content">
        <h2 class="intro-title">Respaldo Industrial</h2>

        <div class="intro-text">
            <p>
                Somos una escudería universitaria sin fines de lucro, movida por
                la pasión y sostenida por la confianza. Como estudiantes,
                dependemos de la visión de empresas que apuestan por el talento
                politécnico para hacer realidad este proyecto.
            </p>
            <p>
                Agradecemos a quienes ya forman parte de nuestra historia. Si tu
                empresa busca impulsar la ingeniería mexicana, en este dossier
                encontrarás cómo sumar fuerzas y llevar tu marca a la pista con
                nosotros.
            </p>
        </div>

        <div class="dossier-btn-wrapper">
            <a
                href="/Dossier JAGUAR RACING.pdf"
                target="_blank"
                rel="noopener noreferrer"
                class="btn-download"
            >
                DESCARGAR DOSSIER 2026
            </a>
        </div>
    </div>
</section>
